.be-top-header .be-navbar-header .navbar-brand {
  background-image: url("https://res.cloudinary.com/studiokonkon/image/upload/v1543962008/website/konkon-header-300x76-ova.png");
}

.be-color-header .be-top-header .be-navbar-header .navbar-brand {
  background-image: url("https://res.cloudinary.com/studiokonkon/image/upload/v1543962008/website/konkon-header-300x76-ova.png");
}

.be-left-sidebar,
.left-sidebar-scroll {
  -ms-scroll-chaining: none !important;
      overscroll-behavior: contain !important;
}

/** Scrollbars Style **/
.left-sidebar-scroll {
  overflow-y: auto !important;
}
.left-sidebar-scroll::-webkit-scrollbar {
  display: block;
  width: 10px;
  height: 100%;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  background-color: transparent;
}
.left-sidebar-scroll::-webkit-scrollbar-track-piece {
  background-color: #eee;
}
.left-sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: #aaa;
  background-clip: padding-box;
  border: solid 2px transparent;
  border-radius: 6px;
}